.titleBox {
  padding: 19px 24px;

  border-bottom: 1px solid #d9d9d9;
}

.title {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
}

.contentBox {
  padding: 24px 24px;
}

.inputUploadButton {
  position: relative;
}

.uploadImageButton {
  position: relative;

  display: flex;
  align-items: center;

  width: 200px;
  height: 27px;
  margin-bottom: 20px;
}

.uploadedImageBox {
  position: relative;

  margin-bottom: 20px;
}

.uploadedImageQuestion {
  width: 350px;
}

.coverBox {
  text-align: center;
}

.cover {
  width: 350px;
}

.error {
  color: #da0606;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
}
