.loader_background {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.loader {
  z-index: 1001;
  width: 90px;
  height: 90px;
  border: 20px solid #f3f3f3;
  border-top: 15px solid #366eff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 20%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
