.allPacks {

}

.allPacks_container {
    width: 80%;
    margin: 0px auto;
}

.allPacks_titleAndButton {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.allPacks_interface {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.allPacks_interface img {
    margin-top: 40px;
}

.allPacks_link, .allPacks_link:active, .allPacks_link:visited {
    color: #000000;
    text-decoration: none;
}

allPacks_link:visited {
    text-decoration: underline;
}

.allPacks_noPacksWasFound {
    margin-top: 100px;
    font-weight: 600;
    font-size: 20px;
}