.actionsWithCards {
  display: flex;

  width: 50px;
}

.actionsWithCards img {
  cursor: pointer;

  width: 16px;
  height: 16px;
  margin-right: 10px;

  background-color: #fff;
  background-repeat: no-repeat;
  border: none;
  outline: none;

  transition: all 0.2s;
}

.actionsWithCards img:hover {
  transform: scale(1.25);
}
