.myPacks_container {
  width: 80%;
  margin: auto;
}

.myPacks_titleAndButton {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.myPacks_titleMenu {
  position: relative;

  display: flex;
}

.myPacks_titleMenu img {
  margin-left: 9px;
}

.myPacks_table {
  margin-top: 24px;
}

.myPacks_noPacksWasFound {
  margin-top: 100px;

  font-size: 20px;
  font-weight: 600;
}
.deckCoverBox {
  text-align: left;
}
.deckCover {
  width: 170px;
}
