.showPacksCards {
  text-align: left;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
  color: #000000;
}

.showPacksCards_wrapper {
  margin-top: 8px;
}

.showPacksCards_wrapper div {
  cursor: pointer;

  display: inline-block;
  align-items: flex-end;

  width: 96px;
  padding: 8px 0px;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  text-align: center;

  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.showPacksCards_active {
  display: inline-block;

  color: #ffffff;

  background: #366eff;
  border-radius: 0px 2px 2px 0px;
}

.showPacksCards_inactive {
  display: inline-block;

  color: #000000;

  background: #ffffff;
  border-radius: 0px 2px 2px 0px;
}

/*.showPacksCards_wrapper span:nth-child(2){*/
/*    color: #FFFFFF;*/
/*    background: #366EFF;*/
/*    border-radius: 0px 2px 2px 0px;*/

/*}*/
