.friendsPack_container {
  width: 80%;
  margin: 0px auto;
}

.friendsPack_titleAndButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.friendsPack_table {
  margin-top: 20px;
}

.friendsPack_noCardsWasFound {
  margin-top: 100px;

  font-size: 20px;
  font-weight: 600;
}

.deckCoverBox {
  text-align: left;
}
.deckCover {
  width: 170px;
}
