.forgotPassword {
    max-width: 413px;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 3% auto 0px;
}

.forgotPassword_container {
    max-width: 347px;
    margin: auto;
    padding-bottom: 42px;
}


.forgotPassword_container input {
    margin-top: 55px;
    display: block;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
    width: 100%;
    color: #000000;
    cursor: pointer;
}

.forgotPassword_container::placeholder {
    font-size: 16px;
}

.forgotPassword_container input:focus {
    outline: none;
}

.forgotPassword_instruction {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    margin-top: 25px;
    text-align: left;
}

.forgotPassword_backToLogin {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin-top: 31px;
}

.forgotPassword_backToLoginLink  a {
    margin-top: 11px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #366EFF;
}